<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" sref="">
        <span class="glyphicon glyphicon-home"></span> Money Tracker
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active" ng-hide="user.signedIn"><a ui-sref="new_user_registration">Sign up</a></li>
        <li ui-sref-active="active" ng-hide="user.signedIn"><a ui-sref="new_user_session">Sign in</a></li>
        <li ng-show="user.id"><button class="btn btn-link" role="link" ng-click='signOut()'>Sign out [{{user.name}}]</button></li>
      </ul>
    </div>
  </div>
</nav>
